:root {
  --primary-white-color: #ffffff;
  --hero-background: #2f303a;
  --title-text-color: #000000;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --link-text-color: #212121;
  --hover-text-color: #188ce8;
  --filters-background: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--primary-white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Верхняя линия */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-text-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-item {
  margin-top: 32px;
  margin-bottom: 32px;
}
.nav {
  padding-top: 32px;
  padding-bottom: 32px;
}
.logo {
  margin-right: 93px;
}
.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.current {
  color: var(--accent-color);
}
.webstudio {
  color: var(--accent-color);
}
.nav:hover,
.nav:focus {
  color: var(--accent-color);
}
.info-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.info-title:hover,
.info-title:focus {
  color: var(--accent-color);
}
/* Герои */
.hero {
  background-color: var(--hero-background);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  outline: 1;
}

.button:hover {
  background: var(--hover-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.hero {
  padding-top: 200px;
  padding-bottom: 280px;
}
.hero-container {
  display: block;
}
.hero-title {
  align-items: center;
  margin: auto;
  width: 696px;
  margin-bottom: 30px;
}

.hero-button {
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}

/* Особенности */
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-text-color);
}
.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.feature {
  padding-top: 94px;
}
.feature-items {
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-item {
  height: 75px;
}
.feature-title {
  margin-bottom: 10px;
}

/*  Чем мы занимаемся  */
.works {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}
.section-works {
  padding-top: 94px;
}
.works {
  margin-bottom: 50px;
}
.works-items {
  display: flex;
}
.works-item:not(:last-child) {
  margin-right: 30px;
}
/* Наша команда */
.sectio-team {
  background-color: var(--filters-background);
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.sectio-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team {
  margin-bottom: 50px;
}
.items-team {
  display: flex;
}
.item-team {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.item-team:not(:last-child) {
  margin-right: 30px;
}
.container-team {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--primary-white-color);
}
.team-title {
  margin-bottom: 10px;
}
/* ---------------Футер ------------- */
.footer {
  background-color: var(--hero-background);
}
.web {
  color: var(--primary-white-color);
}
.map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.map:hover,
.map:focus {
  color: var(--accent-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: block;
}
.footer-logo {
  margin-left: 35px;
}
.address-container {
  margin-top: 20px;
  padding-bottom: 9px;
}

/* ----------------------------Портфоли ------------------ */
.filters-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: var(--filters-background);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--link-text-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
